<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="telecom.wi2meRecherche"
      android:versionCode="1"
      android:versionName="6.2">
    <application android:label="Wi2Me-Research">
        <activity android:name=".Wi2MeRecherche"
                  android:label="Wi2Me-Research"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Wi2MeAccountManagerActivity" android:screenOrientation="portrait"></activity>
    	<activity android:name=".Wi2MeAccountManagementActivity" android:screenOrientation="portrait"></activity>
    	<activity android:name=".Wi2MePreferenceActivity" android:screenOrientation="portrait"></activity>
		<service android:enabled="true" android:name=".controller.ApplicationService" />
    </application>
    
    
        
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-sdk android:minSdkVersion="8" />

</manifest> 
